
<h1>Burgers!</h1>

<h2>My Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
       <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
    
    {{/unless}}
  {{/each}}
</ul> 

<h2>Favorite burgers</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
     <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
    {{/if}}
  {{/each}}
</ul> 



<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="add burger here">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>










